{{- if eq .chezmoi.os "linux" -}}
#!/bin/sh

set -e # -e: exit on error

trap 'rm -rf JetBrainsMono-2.304.zip' EXIT
wget https://download.jetbrains.com/fonts/JetBrainsMono-2.304.zip
sudo unzip JetBrainsMono-2.304.zip -d /usr/share/fonts

{{ end }}
