{{- if eq .chezmoi.os "linux" -}}
#!/bin/sh
{{- if eq .chezmoi.osRelease.id "debian" -}}
sudo apt update -y
sudo apt full-upgrade -y

set -eufo pipefail

repositories=(
)

packages=(
    curl
    git
    zsh
    htop
    gnupg
    openssl
    mpv
    gnome-tweaks
    openssh-server
)

for repository in ${repositories[@]}; do
	sudo add-apt-repository -y $repository
done

sudo apt update

sudo apt install -y ${packages[@]}

{{ if eq .chezmoi.arch "amd64" }}
trap "rm -rf google-chrome-stable_current_amd64.deb vscode.deb" EXIT
wget https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb
sudo apt install ./google-chrome-stable_current_amd64.deb
wget -O vscode.deb https://code.visualstudio.com/sha/download\?build\=stable\&os\=linux-deb-x64
sudo apt install ./vscode.deb

{{ end }}
{{- end }}

{{if eq .chezmoi.osRelease.id "fedora" -}}
# Update system
sudo dnf update -y
set -eufo pipefail

# Enable 3rd party repositories
sudo dnf install fedora-workstation-repositories dnf-plugins-core
sudo dnf config-manager setopt google-chrome.enabled=1

# enable ghostty copr repo
dnf copr enable scottames/ghostty

# add mullvad repo
sudo dnf config-manager addrepo --from-repofile=https://repository.mullvad.net/rpm/stable/mullvad.repo

# Add vscode repo
sudo rpm --import https://packages.microsoft.com/keys/microsoft.asc
sudo sh -c 'echo -e "[code]\nname=Visual Studio Code\nbaseurl=https://packages.microsoft.com/yumrepos/vscode\nenabled=1\ngpgcheck=1\ngpgkey=https://packages.microsoft.com/keys/microsoft.asc" > /etc/yum.repos.d/vscode.repo'
sudo dnf check-update

# Install packages
packages=(
    curl
    git
    zsh
    htop
    gnupg
    util-linux-user
    google-chrome-stable
    gnome-tweaks
    code
    openssh-server
    mullvad-vpn
    ghostty
)

sudo dnf install -y ${packages[@]}

# Install flatpaks
flatpak remote-add --if-not-exists flathub https://flathub.org/repo/flathub.flatpakrepo

flatpaks=(
    com.mattjakeman.ExtensionManager
    org.telegram.desktop
    de.haeckerfelix.Fragments
    com.github.marhkb.Pods
    hu.irl.cameractrls
    io.gitlab.news_flash.NewsFlash
    io.missioncenter.MissionCenter
    io.github.nozwock.Packet
    cafe.avery.Delfin
)

flatpak install flathub ${flatpaks[@]}

{{- end}}

# Install brave
curl -fsS https://dl.brave.com/install.sh | sh

# Install flyio
curl -L https://fly.io/install.sh | sh

{{- if eq .chezmoi.osRelease.id "debian" -}}
trap "rm -rf mullvad.deb" EXIT
wget -O mullvad.deb https://mullvad.net/download/app/deb/latest/
sudo apt install -y mullvad.deb
{{- end}}

# install xh
curl -sfL https://raw.githubusercontent.com/ducaale/xh/master/install.sh | sh

# install tailscale
curl -fsSL https://tailscale.com/install.sh | sh

# install zed
curl -f https://zed.dev/install.sh | sh

# install starship
curl -sS https://starship.rs/install.sh | sh

{{- end }}
