[user]
{{- if eq .chezmoi.hostname "rodgers-PC" }}
	name = Rodgers Ouma
	email = mc_alila@outlook.com
{{- end }}
{{- if eq .chezmoi.hostname "fedora" }}
	name = Rodgers Ouma
	email = mc_alila@outlook.com
{{- end }}
{{- if eq .chezmoi.hostname "rodgers-TFL" }}
	name = Rodgers Ouma
	email = rodgers.ouma@twiga.com
{{- end }}
[color]
	ui = auto
[push]
	default = simple
[core]
	excludesfile = ~/.gitignore_global
[pull]
	rebase = merges
