#git
alias gs='git status'
alias ga='git add'
alias gc='git commit'
alias gst='git stash'
alias gsl='git stash list'
alias gsa='git stash apply'
alias gss='git stash show -p'
alias gsp='git stash pop'
alias gsd='git stash drop'
alias gb='git branch'
alias gch='git checkout'
alias gsw='git switch'
alias gd='git diff'
alias gr='git remote'
alias gcb='git checkout -b'
# same as gcb but with the modern git switch command
alias gsc='git switch -c'

# directory navigation
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'

{{- if eq .chezmoi.osRelease.id "debian" }}
# apt
alias install='sudo apt install -y'
alias search='apt search'
alias update='sudo apt update'
alias remove='sudo apt remove'
alias purge='sudo apt purge'
alias autoremove='sudo apt autoremove'
alias upgrade='sudo apt full-upgrade -y'
alias show='apt show'
alias list='apt list'
{{- end }}

{{- if eq .chezmoi.osRelease.id "fedora" }}
# dnf
alias install='sudo dnf install -y'
alias search='dnf search'
alias update='sudo dnf update -y'
alias remove='sudo dnf remove'
alias autoremove='sudo dnf autoremove'
alias upgrade='sudo dnf upgrade -y'
alias show='dnf info'
{{- end }}

# systemctl
alias start='sudo systemctl start'
alias restart='sudo systemctl restart'
alias stop='sudo systemctl stop'
alias status='sudo systemctl status'
alias reload='sudo systemctl reload'

# utilities
alias docker='podman'
alias cz='chezmoi'
alias http='xh'
alias fw='sudo framework_tool --driver portio'
alias dconf-export='dconf dump / > {{ .chezmoi.sourceDir }}/dconf.ini && echo "dconf.ini updated - review: git -C {{ .chezmoi.sourceDir }} diff dconf.ini"'
