#git
alias gs='git status'
alias ga='git add'
alias gc='git commit'
alias gst='git stash'
alias gsl='git stash list'
alias gsa='git stash apply'
alias gss='git stash show -p'
alias gsp='git stash pop'
alias gsd='git stash drop'
alias gb='git branch'
alias gch='git checkout'
alias gd='git diff'
alias gr='git remote'
alias gcb='git checkout -b'

{{- if eq .chezmoi.osRelease.id "debian" -}}
#apt
alias install='sudo apt install -y'
alias search='apt search'
alias update='sudo apt update'
alias remove='sudo apt remove'
alias purge='sudo apt purge'
alias autoremove='sudo apt autoremove'
alias upgrade='sudo apt full-upgrade -y'
alias show='apt show'
alias list='apt list'
{{- end }}

#systemctl
alias start='sudo systemctl start'
alias restart='sudo systemctl restart'
alias stop='sudo systemctl stop'
alias status='sudo systemctl status'
alias reload='sudo systemctl reload'

#venvs
alias activate='source ../env/bin/activate'
alias activate.='source env/bin/activate'

#utilities
alias ngrok='~/ngrok/ngrok'
alias docker='podman'
alias cz='chezmoi'

{{- if eq .chezmoi.hostname "rodgers-TFL" }}

# twiga utilities
alias twiga-start='start postgresql && start rabbitmq-server && start redis-server'
alias test='nocorrect make test'
alias gitme='git config user.name "Rodgers Ouma" && git config user.email "mc_alila@outlook.com"'
{{- end }}
